{namespace soy.examples.features}

/**
 * Demo 'msg'.
 * @param name The name of the person to say hello to.
 * @param labsUrl The URL of the unreleased 'Labs' feature.
 */
{template .demoMsg}

    {msg desc="Says hello to a person."}
        Hello {$name}!
    {/msg}<br>

    {msg desc="Link to the unreleased 'Labs' feature."}
        Click <a href="{$labsUrl}">here</a> to access Labs.
    {/msg}<br>

    // The 'meaning' attribute is used when you have two messages that are exactly the same string in
    // English, but may be translated to different strings in other languages. The 'meaning' attribute
    // should then be a short string that distinguishes the two strings, and will be used for
    // generating different message ids. The 'meaning' will not be shown to translators, so you must
    // still communicate all the details in the 'desc' text.
    {msg meaning="noun" desc="The word 'Archive' used as a noun, i.e. an information store."}
        Archive
    {/msg}<br>
    {msg meaning="verb" desc="The word 'Archive' used as a verb, i.e. to store information."}
        Archive
    {/msg}<br>

{/template}
