{namespace soy.examples.features}

/**
 * Demo print directives.
 * @param longVarName Some ridiculously long variable name.
 * @param elementId The id for an element.
 * @param cssClass A CSS class name.
 */
{template .demoPrintDirectives}
    insertWordBreaks:<br>
    <div style="width:150px; border:1px solid #00CC00">
        {$longVarName}<br>  // will run outside the div border
        {$longVarName |insertWordBreaks:5}<br>  // will be allowed to wrap
    </div>

    id:<br>
    // The 'id' and 'class' attributes of this span will not be needlessly autoescaped because they
    // are marked with the print directive '|id'.
    // Note: Only use '|id' with identifiers like id and class (otherwise use '|noAutoescape').
    <span id="{$elementId|id}" class="{$cssClass|id}" style="border:1px solid #000000">
    Hello
  </span>
{/template}
