{namespace soy.examples.features}

/**
 * Demo expressions.
 * @param students Nonempty list of students. Each student must have 'name', 'major', and 'year'.
 * @param currentYear The current year.
 */
{template .demoExpressions}

    First student's major: {$students.0.major}<br>
    Last student's year: {$students[length($students) - 1].year}<br>
    Random student's major: {$students[randomInt(length($students))].major}<br>

    {foreach $student in $students}
        {$student.name}:

        {if isFirst($student)}
            {sp}First.
        {elseif isLast($student)}
            {sp}Last.
            // Note: must use floor() in next check since division is floating-point.
        {elseif index($student) == ceiling(length($students) / 2) - 1}
            {sp}Middle.
        {/if}

        {if index($student) % 2 == 1} Even.{/if}
        {sp}{$student.major}.
        {if $student.major == 'Physics' or $student.major == 'Biology'} Scientist.{/if}
        {if $currentYear - $student.year < 10} Young.{/if}

        // The following print statement prints "70s", "80s", "90s", or "00s". Note that "00s" is a
        // special case since using the same expression would yield "0s", not "00s".
        {sp}{$student.year < 2000 ? round($student.year - 1905, -1) + 's' : '00s'}.
        // Equivalent to previous line.
        {sp}{if $student.year < 2000}{round($student.year - 1905, -1)}{else}00{/if}s.

        <br>
    {/foreach}

{/template}
